<div id="jumbotron" class="text-center jumbotron">
    <h2 class="display-3"><i class="fa fa-search fa-2x"></i>Precinct Finder</h2>
    <p class="lead">Find your precinct number</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2 class="display-5"><i class="fa fa-houzz"></i>Barangay List</h2>

        <div>
            {{#each barangays}}
            <div id="barangay-box" class="card mb-2">
                <div class="card-title">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="display-5"><i class="fa fa-map-marker"></i><strong>{{barangayName}}</strong></h4>
                        </div>
                        <div class="col-md-6">
                            <form class="form-inline" action="/precinct/{{id}}" method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="precinctId"
                                        placeholder="Precinct Number" />
                                    <button class="btn btn-dark"><i class="fa fa-plus"></i>Add Precinct</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="display-6"><i class="fa fa-building"></i>Precinct List</h4>
                    {{#each Precincts}}
                    <div id="precinct-box" class="card mb-3">
                        <div class="card-title">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="display-6"><i class="fa fa-building"></i>Precinct No: <span
                                            class="badge badge-secondary">{{precinctId}}</span></h5>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-dark float-right new-voter" data-bid="{{barangayId}}"
                                        data-pid="{{id}}" data-toggle="modal" data-target="#voterModal"><i
                                            class="fa fa-user-plus"></i>Add Voter</button>
                                    <div class="modal fade" id="voterModal" tabindex="-1" role="dialog"
                                        aria-labelledby="voterModalTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <form id="voter-form">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="voterModalTitle"><i
                                                                class="fa fa-user-plus"></i>New Voter</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="firstName">First Name:</label>
                                                            <input type="text" id="firstName" class="form-control"
                                                                name="firstName" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="lastName">Last Name:</label>
                                                            <input type="text" id="lastName" class="form-control"
                                                                name="lastName" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="firstName">Middle Name:</label>
                                                            <input type="text" class="form-control" name="middleName" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="address">Address:</label>
                                                            <textarea id="address" class="form-control"
                                                                name="address"></textarea>
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-dark"
                                                            data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-dark">Save changes</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    {{#each Voters}}
                                    <div class="mt-2">
                                        <ul id="voter-list" class="list-group">
                                            <li class="list-group-item"><i class="fa fa-user"></i>{{lastName}},
                                                {{firstName}} {{middleName}} <i class="fa fa-home"></i> {{address}}</li>
                                        </ul>
                                        <h4 class="lead"></h4>
                                    </div>
                                    {{else}}
                                    <div class="mt-2">
                                        <h6 class="display-6">No voters has been added yet to this precinct.</h4>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <h4 class="display-5">No precinct has been added yet to this Barangay</h4>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="col-md-4">
        <div class="mt-3">
            <h2 class="display-5"><i class="fa fa-plus"></i>Add Barangay</h2>

            <form class="form-inline" action="/barangay" method="post">
                <input type="text" class="form-control" name="barangayName" placeholder="Barangay Name" />
                <button class="btn btn-dark">Submit</button>
            </form>
        </div>
        <div class="mt-3">
            <h2 class="display-5"><i class="fa fa-search"></i>Search Precinct</h2>
            <div class="mt-2">
                <form class="form-inline" id="voter-search" method="GET">
                    <input type="text" class="form-control col-md-4" name="firstName" placeholder="First Name" />
                    <input type="text" class="form-control col-md-4" name="lastName" placeholder="Last Name" />
                    <button type="submit" class="btn btn-dark">Search</button>
                </form>
            </div>
        </div>
        <div class="modal fade" id="searchResultModal" tabindex="-1" role="dialog" aria-labelledby="searchResultTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form id="voter-form">
                        <div class="modal-header">
                            <h5 class="modal-title" id="searchResultTitle"><i class="fa fa-search"></i>Search Result
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row" id="result-content"></div>
                        </div>
                        <div class="modal-footer">
                            <button id="search-close" type="button" class="btn btn-dark"
                                data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href=""> AdZU CITS</a>
        <br />
        Designed and developed by: <a href="">Arvin Kent S. Lazaga | AdZU Webmaster</a>
        <br />
        Powered by Node.js and Express.js
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->