.row, .column {
    display: flex;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.header {
    margin-bottom: 10px;
}

.precinct-form {
    width: 350px;
    margin-bottom: 25px;
}

.precinct-header {
    text-align: center;
    margin-bottom: 10px;
}

.precinct-form input, .precinct-form button {
    margin-bottom: 5px;
    padding: 6px;
}

.precinct {
    background: #555;
    color: #fff;
    padding: 10px 15px 7px;
    margin-right: 10px;
}

.precinct > * {
    text-align: center;
    font-weight: 300;
    margin-bottom: 5px;
}

.precinct-form input, .precinct-form button {
    padding: 4px;
    margin-bottom: 2px;
}

.precinct h3 {
    text-align: center;
    margin: 3px 0 5px;
    border-bottom: 1px solid #707070;
    padding-bottom: 3px;
}

.precinct h4.empty {
    max-width: 120px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

.precinct .voter {
    padding: 3px;
    background: #444;
    text-align: center;
    margin-bottom: 4px; 
}

.precinct .voter p {
    font-size: .8rem;
}

/* HTML */
html {
    min-height: 100%;
}

/* Body */
body {
    background-color: #0B0C10 !important; 
    color: #C5C6C7 !important;
}

/* Jumbotron, Cards, Voter List */
#jumbotron, .modal-content, #barangay-box, #precinct-box, #voter-list > li {
    background-color: #1F2833 !important;
}

/* Precinct List */
#precinct-box {
    border: 1px solid #C5C6C7 !important;
}

#voter-list > li {
    border: 1px solid #66FCF1!important;
}

.modal-header {
    border-bottom: 1px solid #66FCF1!important;
}

.modal-footer {
    border-top: 1px solid #66FCF1!important;
}